.container {
	display: grid;
	/* grid-template-columns: 300px 300px 300px 300px;
	grid-template-rows: 200px 200px; */
	grid-template: repeat(2, 200px) / repeat(4, 3fr);
	gap: 10px;
	padding: 10px;
	background-color: #fc8383;
}

.grid-item {
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
}
