* {
	box-sizing: border-box;
}
body {
	margin: 0px;
	padding: 0px;
	background: #f0f0f0;
	font-family: Arial, sans-serif;
	font-size: 16px;
}
.container {
	width: 100%;
	border: 1px solid #c5bbbb;
}
.contact-link {
	display: inline-block;
}
.primary-link a {
	color: black;
	text-decoration: none;
}
.primary-link a:hover {
	color: #3268cd;
	padding-bottom: 12px;
	border-bottom: 1px solid #3268cd;
}
.secondary-link {
	margin-left: 40%;
}
/* General Spacer and utility style classes */
.nav-item-spacers-one {
	margin: 0px 4px;
	padding: 12px;
}
.nav-item-start-margin-left {
	margin-left: 5%;
}
.inline-block-nav-item {
	display: inline-block;
}
.background-color-primary-white {
	background-color: #ffffff;
}
/* END : General Spacer and utility style classes */
.second-nav-container {
	padding: 24px 0px;
}
.second-nav-container a {
	text-decoration: none;
}
.second-nav-container .main-nav-link {
	font-size: 16px;
	font-weight: bold;
	margin-left: 20%;
	margin-right: 20%;
}
.second-nav-container .main-nav-link a {
	color: #000000;
	padding: 25px 12px;
	font-size: 14px;
	font-weight: 500;
}
.second-nav-container .main-nav-link a:hover {
	color: #3268cd;
	padding-bottom: 24px;
	border-bottom: 3px solid #3268cd;
	border-radius: 5px 5px 0 0;
	transition: all 0.4s ease;
}
/* call to action - Book appointment button */
.second-nav-container .call_to_action-book-appointment button {
	position: relative;
	z-index: 1;
	padding: 13px 25px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	background: #d11ad1;
	box-shadow: none;
	border: none;
	cursor: pointer;
	transition: transform 0.5s ease;
	transform-origin: center;
}
.second-nav-container .call_to_action-book-appointment button:before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #2c2d3f;
	transform: scaleX(0);
	transform-origin: 50%;
	transition: all 0.4s ease;
	border-radius: 4px;
}
.second-nav-container .call_to_action-book-appointment button:hover:before {
	transform: scaleX(1);
	transition: all 0.4s ease;
}
/* .second-nav-container .call_to_action-book-appointment button:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background: #000000;
	z-index: -1;
	transform: scaleX(1);
	transition: transform 1s ease;
	transform-origin: center;
}
.second-nav-container .call_to_action-book-appointment button:hover:after {
	transform: scaleX(0);
	transition: transform 1s ease;
	transform-origin: 100%;
} */
/* END : Call to action - Book appointment button */
/* Styling Statics Section */
.stats-info-section {
	width: 100%;
	height: 35vh;
	background: url(img/fun-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.stats-info-section h2 {
	margin-left: 35vw;
	padding-top: 2.5vh;
	padding-bottom: 5vh;
}
.stats-card-flex-container {
	padding-top: 0.5vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.stats-section {
	width: 30%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.stat-card-icon {
	color: #fff;
	height: 70px;
	width: 70px;
	text-align: center;
	padding: 0;
	margin: 0;
	border: 2px solid #fff;
	border-radius: 50%;
}
.stat-card-icon i {
	font-size: 48px;
	color: #3268cd;
	margin: 12px;
}
